body {
    background-color: #14151B;
    font-family: sans-serif 4;

}
h2 {
    color: white;
    

}
h3 {
    color: white;
    font-size: 32px;
    line-height: 44px;
}
h4 {
    color: white;
    font-size: 28px;
}
div#primera_caja {
    background-color: #23242A;
    display:block;
    border-radius: 16px;
    position: absolute;
    width: 500px;
    height: 500px;
    left: 433px;
    top: 183px;

}
div#segunda_caja {
    position: absolute;
    left: 15%;
    right: 15%;
    top: 25.4%;
    bottom: 29.4%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 18px;
}
a{
    display: block;
    width: 278px;
    height: 44px;
    top: 410px;
    left: 110px;
    font-family: serif 4; 
    background-color: #3F8CFF;
    border-radius: 34px;
    color: white;
    text-decoration: none;
}
