
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*,*::after,*::before{
    box-sizing: inherit;
}

body {
    background: linear-gradient(#141319, #000000);
    font-family: "SourceSerif4";
    color:white;
    height: 100vh; 
    overflow: hidden;
}

a{
    color: white;
    text-decoration: none;
}

button{
    background-color: transparent;
}

ul, ol{
    list-style: none;
}
