body {
    background-color: #14151B;
    font-family: "Source serif 4";
    color: white;
    overflow: hidden;

}

.primera_caja {
    background-color: #23242A;
    margin: 121px 40px 77px 40px;
    display:block;
    border-radius: 16px;
    width: 240px;
    height: 370px;
    

}
.subtitulo {
    margin: 22.45px 0px 320.42px 0px;
    width: 240px;
    height: 27.13px;
    font-size: 16px;
    align-self: center;


}
.segunda_caja {
    width: 200px;
    height: 167.24px;
    margin: 93.05px 20px 109.71px 20px;

}
.button {
    background-color: #14151B;
    width: 200px;
    height: 32px;
    border-radius: 16px
}
a{
    display: block;
    width: 278px;
    height: 44px;
    top: 410px;
    left: 110px;
    font-family: serif 4; 
    background-color: #3F8CFF;
    border-radius: 34px;
    color: white;
    text-decoration: none;
}

.card_navigation {
    display: flex;
    padding: 0%;
    color: blank;
    background-color: #14151B;

    
}