*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #14151B;
    font-family: "Source serif 4";
    color: white;
    overflow: hidden;
    height: 100vh; 

}
#titulo {
    margin: 0 auto;
    width: 80%;
    padding: .2rem;
    border-bottom: 1px solid #fff;
    text-align: center;
}

.caja_principal {
    background-color: #23242A;
    margin: 121px 40px 77px 40px;
    border-radius: 16px;
    width: 290px;
    height: 370px;

}
    
#subtitulo {
    display: flex;
    padding: 30px 0px 70px 70px;
    width: 240px;
    height: 27px;
    font-size: 16px;
    text-align: center;
}

.segunda_caja {
    width: 200px;
    height: 167.24px;
    margin: 5px 20px 50px 20px;
    

}
.button {
    background-color: #14151B;
    color: white;
    width: 200px;
    height: 32px;
    border-radius: 16px;
    border-color: #14151B;
}
a {
    margin-left: 50px; 
    padding: 10px 60px;
    text-align: center;
    background-color: #3F8CFF;
    border-radius: 34px;
    color: white;
    text-decoration: none;

}



.card_navigation {
    display: flex;
    padding: 0%;
    color: blank;
    background-color: #14151B;

    
}

@media screen {
    
}