*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: linear-gradient(#141319, #000000);
    font-family: "Source serif 4";
    color:white;
    height: 100vh; 
    overflow: hidden;
    

}
#cabeza {
    width: 230px;
    height: 33px;
    margin: 7px 45px 528px 45px;

}
#Titulo_principal {
    width: 230px;
    height: 33px;
    margin: 10px 45px 41.5px 45px;
    text-align: center;
    border-bottom: 1px solid #fff;
}

#cajageneal {
    flex-direction: column;
    width: 302px;
    height: 389px;
    margin: 8px 11px 90px 7px;
}

.box {

    width: 270px;
    height: 50px;
    margin-top: 10px;
    margin-left: 10px;
    padding: 8px;
    flex: none;
    background-color: #23242A;
    border-radius: 10px;
}

.button_creditos {
    display: flex;
    width: 22px;
    height: 10px;
    background-color: #3F8CFF;
    color: white;
    border-radius: 8px;
    margin-left: 60px;
    text-align: center;

}

.button_nota {
    display: flex;
    width: 48px;
    height: 41px;
    flex-direction: row;
    background-color: #11C74F;
    color: white;
    border-radius: 8px;
    border-color: #11C74F;
    margin-left: 270px;
    text-align: center;
    font-size: 20px;
}

a {
    position: static;
    margin: 360px 76px 0px 76px;
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 5px 60px;
    background-color: #3F8CFF;
    border-radius: 34px;
}